{{- $system := includeTemplate "system.yaml" . | fromYaml -}}
{{- $platformConfig := index .platforms $system.platform -}}
{{- if eq $platformConfig.neovim_provider "spack" }}
[".local/share/spack"]
type = "archive"
url = "https://github.com/spack/spack/releases/download/v1.2.1/spack-1.2.1.tar.gz"
stripComponents = 1
{{- end }}
