{{- if and (eq .chezmoi.os "darwin") (not (lookPath "sshproxy.sh")) }}
[".local/bin/sshproxy.sh"]
type = "file"
executable = true
url = "https://portal.nersc.gov/cfs/mfa/legacy/sshproxy.sh"
{{- end -}}
