{{- /* Platform detection — single source of truth for all templates.
       Runs during `chezmoi init` and populates the data: section of the
       config file.  All other templates access .platform, .needs_spack, etc. */ -}}

{{- $hostname := output "hostname" "-d" | trim -}}
{{- $os := .chezmoi.os -}}
{{- $platform := "unknown" -}}

{{- if (and (eq $hostname "lanl.gov") (eq $os "darwin")) -}}
    {{- $platform = "lanl_macbook" -}}
{{- else if eq $hostname "lcrc.anl.gov" -}}
    {{- $platform = "lcrc" -}}
{{- else if eq $hostname "ccs.ornl.gov" -}}
    {{- $platform = "olcf" -}}
{{- else if contains "nersc.gov" $hostname -}}
    {{- $platform = "nersc" -}}
{{- end -}}

{{- $spack_platforms := list "lcrc" "olcf" "nersc" -}}
{{- $needs_spack := has $platform $spack_platforms -}}

data:
  platform: {{ $platform | quote }}
  needs_spack: {{ $needs_spack }}

  spack_compilers:
    lcrc:
      version: "13.3.0"
      spec: "gcc@13.3.0 languages='c,c++,fortran'"
      module: "gcc/13.3.0-nj5wdke"
      prefix: "/gpfs/fs1/soft/chrysalis/spack/opt/spack/linux-centos8-x86_64/gcc-9.3.0/gcc-13.3.0-nj5wdke"
      c: "/gpfs/fs1/soft/chrysalis/spack/opt/spack/linux-centos8-x86_64/gcc-9.3.0/gcc-13.3.0-nj5wdke/bin/gcc"
      cxx: "/gpfs/fs1/soft/chrysalis/spack/opt/spack/linux-centos8-x86_64/gcc-9.3.0/gcc-13.3.0-nj5wdke/bin/g++"
      fortran: "/gpfs/fs1/soft/chrysalis/spack/opt/spack/linux-centos8-x86_64/gcc-9.3.0/gcc-13.3.0-nj5wdke/bin/gfortran"

git:
  autoCommit: true
  commitMessageTemplate: '{{"{{"}} promptString "Commit message" {{"}}"}}'
  autoPush: false
