{{- $system := includeTemplate "system.yaml" . | fromYaml -}}
{{- $platformConfig := index .platforms $system.platform -}}

[tools]
bat = "0.26.1"
"aqua:github/copilot-cli" = "latest"
fd = "10.3.0"
fzf = "0.70.0"
"cargo:lsd" = "1.2.0"
"cargo:tree-sitter-cli" = {
  version = "0.26.11",
  default-features = false,
}
node = "25.8.0"
{{- if eq $platformConfig.neovim_provider "mise" }}
neovim = "0.11.6"
{{- end }}
ripgrep = "15.1.0"
rust = "latest"
tmux = "latest"

[settings]
experimental = true
lockfile = true
pin = true
cargo.binstall = false

