{{- $gcc := index .spack_compilers .platform -}}

spack:
  specs:
    - neovim %gcc@{{ $gcc.version }}
    - tree-sitter+cli %gcc@{{ $gcc.version }}

  packages:
    gcc:
      externals:
        - spec: {{ $gcc.spec | quote }}
          prefix: {{ $gcc.prefix | quote }}
          modules:
            - {{ $gcc.module | quote }}
          extra_attributes:
            compilers:
              c: {{ $gcc.c | quote }}
              cxx: {{ $gcc.cxx | quote }}
              fortran: {{ $gcc.fortran | quote }}
      buildable: false

  concretizer:
    unify: true

  view: true
